footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    height: 100px;
    background-color: #F2F2F2;
    color: #555;
    padding: 0 80px;
    font-size: 14px;
}

footer .copyright {
    flex: 2;
    line-height: 160%;
}

footer ul {
    flex: .8;
}

footer ul.privacy {
    display: flex;
    gap: 1rem;
}

footer ul.privacy li:first-child {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}